@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --vd-blue: hsl(220, 13%, 13%);
  --d-grayish-blue: rgb(104, 112, 125);
  --grayish-blue: hsl(220, 14%, 75%);
  --l-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);

  --p-fs: 1rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: var(--pale-orange);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .here {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--orange)!important;
}

.App form Button {
  margin-top: 15px;
  background-color: var(--vd-blue);
}

.App form Button:hover {
  background-color: var(--orange);
}

.App .gridAnime .card:hover {
  transform: scale(110%);
}

.animeDetail {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4vw;
  width: 100vw;
  height: 85vh;
  margin-top: 10vh;
  padding-bottom: 250px!important;
}

.animeDetail img {
  border-radius: 3%;
  width: 25vw;
}
.animeDetail img:hover {
  transform: scale(110%);
  transition: .2s;
}
.animeDetail .info {
  max-width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.animeDetail .info .title{
  color: var(--orange);
  font-weight: 600;
  font-size: 30px;
  text-align: left;
  margin-top: 0!important;
}

.animeDetail .info .synopsis{
  text-align: left;
}

.product .info > p {
  margin: 0;
  text-transform: capitalize;
  text-align: left;
}

.recette {
  min-width: 25vw;
}

.track-card {
  display: flex;
  flex-direction: row;
}

.track-card__cover {
  width: 72px;
  height: 72px;
}

.track-card__info {
  display: flex;
  flex-direction: column;
}

.tracks {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.studio-container {
  position: relative;
  width: 600px;
  height: 400px;
}

.studio-container > iframe {
  width: 100%;
  height: 100%;
}

.middle-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
}

.random-image {
  max-height: 100px;
  max-width: 100px;
}

h1 {
  margin-top: 0!important;
  color: var(--orange);
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}